{% capture rush_icon %}<?xml version="1.0" ?><svg style="float:left;margin-right:10px;" height="28" viewBox="0 0 68 67" width="28" xmlns="http://www.w3.org/2000/svg"><path d="M457,419 C461.970563,419 466,423.029437 466,428 C466,432.970563 461.970563,437 457,437 L441,437 C434.924868,437 430,432.075132 430,426 C430,419.924868 434.924868,415 441,415 C445.404238,415 449.203932,417.58836 450.960892,421.326889 C452.557763,419.880846 454.676015,419 457,419 Z M448,433 L448,426 C448,422.134007 444.865993,419 441,419 C437.134007,419 434,422.134007 434,426 C434,429.865993 437.134007,433 441,433 L448,433 Z M452,433 L457,433 C459.761424,433 462,430.761424 462,428 C462,425.238576 459.761424,423 457,423 C454.238576,423 452,425.238576 452,428 L452,433 Z M448,440 L448,449 L427,449 C425.895431,449 425,449.895431 425,451 L425,458 L416,458 L416,442 C416,440.895431 416.895431,440 418,440 L448,440 Z M452,440 L482,440 C483.104569,440 484,440.895431 484,442 L484,458 L463,458 L463,451 C463,449.895431 462.104569,449 461,449 L452,449 L452,440 Z M484,480 C484,481.104569 483.104569,482 482,482 L452,482 L452,476 L461,476 C462.104569,476 463,475.104569 463,474 L463,462 L484,462 L484,480 Z M418,482 C416.895431,482 416,481.104569 416,480 L416,462 L425,462 L425,474 C425,475.104569 425.895431,476 427,476 L448,476 L448,482 L418,482 Z M429,453 L459,453 L459,472 L429,472 L429,453 Z M433,460 C433,460.552285 433.447715,461 434,461 L454,461 C454.552285,461 455,460.552285 455,460 L455,458 C455,457.447715 454.552285,457 454,457 L434,457 C433.447715,457 433,457.447715 433,458 L433,460 Z M433,467 C433,467.552285 433.447715,468 434,468 L448,468 C448.552285,468 449,467.552285 449,467 L449,465 C449,464.447715 448.552285,464 448,464 L434,464 C433.447715,464 433,464.447715 433,465 L433,467 Z" fill="#000000" fill-rule="evenodd" transform="translate(-416 -415)"/></svg>{% endcapture %}
{% capture gift_icon %}<?xml version="1.0" ?><svg style="float:left;margin-right:10px;" enable-background="new 0 0 64 64" height="28px" id="Layer_1" version="1.1" viewbox="0 0 64 64" width="28px" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M59.922,40.598H59.58V28.21c0-0.566-0.277-1.387-0.618-1.836l-5.667-7.451c-0.342-0.448-1.077-0.813-1.643-0.813h-9.211   v-4.273c0-0.566-0.457-1.023-1.023-1.023H15.853c-2.261,0-4.092,1.831-4.092,4.091v2.5H5.078c-1.104,0-2,0.896-2,2s0.896,2,2,2   h0.109h6.574h4.926c1.104,0,2,0.896,2,2s-0.896,2-2,2h-4.926h-4.06c-1.104,0-2,0.896-2,2c0,1.084,0.865,1.962,1.941,1.994h9.044   c1.104,0,2,0.896,2,2s-0.896,2-2,2h-4.926v5.2h-0.534c-0.552,0-1,0.447-1,1v3.577c0,0.564,0.458,1.023,1.022,1.023h3.492v0   c0-3.854,3.135-6.99,6.988-6.99c3.854,0,6.989,3.136,6.989,6.99v0h14.044v0c0-3.854,3.135-6.99,6.988-6.99   c3.854,0,6.989,3.136,6.989,6.99v0h3.157c0.566,0,1.023-0.459,1.023-1.023v-3.577C60.922,41.045,60.475,40.598,59.922,40.598z    M45.037,27.955v-5.977h4.258c0.538,0,1.236,0.35,1.558,0.781l3.807,5.195H45.037z"></path><path d="M21.73,41.208c-2.756,0-4.988,2.234-4.988,4.99c0,2.756,2.232,4.988,4.988,4.988c2.757,0,4.989-2.232,4.989-4.988   C26.72,43.443,24.487,41.208,21.73,41.208z M21.73,47.856c-0.914,0-1.657-0.742-1.657-1.657c0-0.917,0.743-1.659,1.657-1.659   c0.917,0,1.66,0.742,1.66,1.659C23.391,47.114,22.647,47.856,21.73,47.856z"></path><path d="M49.752,41.208c-2.755,0-4.988,2.234-4.988,4.99c0,2.756,2.233,4.988,4.988,4.988c2.757,0,4.989-2.232,4.989-4.988   C54.741,43.443,52.509,41.208,49.752,41.208z M49.752,47.856c-0.915,0-1.658-0.742-1.658-1.657c0-0.917,0.743-1.659,1.658-1.659   c0.916,0,1.659,0.742,1.659,1.659C51.411,47.114,50.668,47.856,49.752,47.856z"></path></g></svg>{%  endcapture %}

{% assign rush_product = all_products[section.settings.rush_product] %}
{% assign rush_downcase = rush_product | downcase %}
{% assign rush_id = rush_product.selected_or_first_available_variant.id | minus: 0 %}

{% assign gift_product = all_products[section.settings.gift_product] %}
{% assign gift_downcase = gift_product | downcase %}
{% assign gift_id = gift_product.selected_or_first_available_variant.id | minus: 0 %}
{% if product_downcase != 'emptydrop' %}

  {% assign rush_check = false %}
  {% assign gift_check = false %}
  {% assign sve = false %}
  {% assign mobile = false %}
  {% for item in cart.items %}
    {% if item.id == rush_id %}
      {% assign rush_check = true %}
    {% endif %}
    {% if item.id == gift_id %}
      {% assign gift_check = true %}
    {% endif %}    
  {% endfor %}
 
      {% if type == 'rush' %}  
              <div id="is-a-rush" {% if rush_check %}style="display: none"{% endif %}>
                {% if section.settings.rush_content != blank %}
                  {{ rush_icon }} {{section.settings.rush_content}}
                  {% if section.settings.rush_button %}
                	<form method="post" action="/cart/add" class="upsell-in-cart">
              			<input type="hidden" name="id" value="{{ rush_id }}" />
              			<input min="1" type="number" id="quantity" name="quantity" value="1" hidden />
              			<input type="submit" value="{{section.settings.rush_button}}" class="collection-btn event-col-atc" />
            	  		<input type="hidden" name="return_to" value="/cart" />  
            		</form>
                  {% endif %}
                {% endif %}  
              </div>
      {% elsif type == 'gift' %}
            <div id="is-a-gift" {% if gift_check %}style="display: none"{% endif %}>
              {% if section.settings.gift_content != blank %}
                {{ gift_icon }}  {{section.settings.gift_content}}
                {% if section.settings.gift_button %}
              	<form method="post" action="/cart/add" class="upsell-in-cart">
            			<input type="hidden" name="id" value="{{ gift_id }}" />
            			<input min="1" type="number" id="quantity" name="quantity" value="1" hidden />
            			<input type="submit" value="{{section.settings.gift_button }}" class="collection-btn event-col-atc" />
            	  		<input type="hidden" name="return_to" value="/cart#main-cart-footer" />  
          		</form>
                {% endif %}
              {% endif %}   
            </div>  
    {% endif %} 
  

{% if check and 1 == 2 %}<div id="is-a-gift" class="warning"> Some discounts will not calculate till you hit checkout.</div>{% endif %}

{% endif %}

<style>
.extra-stuff {display:flex;flex-flow:row wrap;display: -webkit-flex;display: -moz-flexbox;display: -ms-flexbox;display: -ms-flexbox;-webkit-flex-wrap: wrap; }
#is-a-gift, #is-a-rush {flex:auto;display:flex;display: -webkit-flex;display: -moz-flexbox;display: -ms-flexbox;display: -ms-flexbox;-webkit-flex-wrap: wrap;
align-content:center;align-items: center;position: relative;padding: .75rem 1.25rem;margin: 1rem;border-radius: .25rem;text-align:left;}
#is-a-gift {color: #697479;background-color: #d4e5ed;border-color: #c3e6cb;}
#is-a-rush {color: #155724;background-color: #d4edda;border-color: #c3e6cb;}
.upsell-in-cart {margin-left:1rem;}
#is-a-gift small {margin:0px 0px 0px 10px;}
#is-a-gift.warning {color: #9a873f;background-color: #FCF3D1;border-color: #9a873f;}
.upsell-in-cart input[type="submit"] {background: #eee;padding: 5px 10px;border-radius: 3px;color: #777;border: 1px solid #bbb;text-align:center;}

@media screen and (max-width:480px) {
#is-a-gift, #is-a-rush {max-width:100%;}
#stamped-reviews-widget[data-widget-type=carousel] .stamped-carousel-scroll .stamped-reviews-message {margin-left:0px;}
}
@media screen and (min-width:768px) {
#is-a-gift, #is-a-rush {max-width:350px;}
.top-recipes.main-blog__grid .pb-6 {padding-bottom:0px;}
.top-recipes.main-blog__grid .article__grid-image-container img {padding:0px;margin:0px;}
.article-block__footer.border-primary-section-border {border:none;}
}

</style>